<div class="container Post">
  <h1>{{post.title}}</h1>

  <div class="Post__body content">
    {{{post.body_html}}}
  </div>

  <a href="https://steemit.com/{{post.url}}">See comments on steemit.com</a>
</div>
